.poll-container{
	width:1000px;
	max-width:1000px; 
	margin:0 auto;
	text-align:left;
	position:relative;
	margin-top:20px;
	border:1px solid #C1C1C1;
}

.poll-article-content{
	width:900px;
}
.submit_btn{
	width:80px; 
	height:30px; 
	margin-left: -50px;
	background-color:#CD6B13;
	border-radius:5px;
	outline:none;
}
.submit_btn:hover{
	color: #fff;
	outline:none;
}
.submit_btn:focus{
	outline:none;
}
